@import '../../node_modules/simple-cookie-consent/dist/simple-cookie-consent.min.css';

.c-simple-cookie-consent {
  // Bar styles here (e.g. background-color, position, z-index)

  &__policy {
    // Message styling here (e.g. font)
  }

  &__button {

    // Styles that apply to both the 'accept' and 'additonal button'. (e.g. background-color)
    &--additional {
      // Styles specifically for the 'additonal' button which override the base button styling
    }
  }
}

* {
  font-family: 'Helvetica', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background: radial-gradient(circle at 50% 40%, #68ccff, #68ccff 15%, #21ccff 15%, #21ccff 30%, #21adef 30%, #21adef 45%, #2196ce 45%),
    /* other bg */
  ;
  background-color: #2196ce;
  height: 100vh;
}

header {
  padding: 1rem;
  color: #2196ce;
  height: 100vh;
  position: fixed;
  width: 80px;
}

main {
  height: calc(100vh - 80px);
  padding: 3rem;
  color: #fff;
  position: fixed;
  width: 100%;
}

a,
a:visited {
  color: white;
  text-decoration: underline
}

a:hover {
  text-decoration: none
}

h1 {
  color: #fff;
  font-size: 3rem;
  text-align: right;
  margin-bottom: 0
}

.igniter-intro div {
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 2rem;
  color: #2196ce
}

.igniter-intro div p {
  background: #fff;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 1rem
}

ul {
  list-style: none
}

ul:after {
  content: '';
  clear: both;
  display: table
}

li {
  background: #fff;
  display: inline-block;
  float: left;
  font-size: 1.4rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  transition: 150ms ease-in transform;
  transform: scale(1)
}

li:hover {
  transform: scale(.95)
}

footer {
  padding: 1rem;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: .75rem;
}

.canvas {
  position: relative;
}