.land {
  display: block;
  background: linear-gradient(to top, rgb(77, 224, 123), rgb(116, 236, 154));
  width: 100vw;
  height: 45vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.weilanden {
  background-color: #21adef;
  opacity: .7;
  margin: 0 -1rem;
}

.weiland {
  display: inline-block;
  height: 10rem;
  width: calc(20% - 0.25rem);
  margin: 0 .125rem;
  background-color: rgb(152, 247, 173);

  &:nth-child(1) {
    transform: skewX(-10deg);
    margin-left: -1rem;
  }

  &:nth-child(2) {
    transform: skewX(-5deg);
  }

  &:nth-child(3) {
    transform: skewX(0deg);
  }

  &:nth-child(4) {
    transform: skewX(5deg);
  }

  &:nth-child(5) {
    transform: skewX(10deg);
    margin-right: -1rem;
  }
}

.dijk {
  display: block;
  background-color: rgb(77, 224, 123);
  width: 100%;
  height: 2rem;
  margin-top: -.5rem;
}

.kanaal {
  position: relative;
  display: block;
  background-color: #21adef;
  width: 100%;
  height: 3rem;
  margin-top: 0;
}